body {
   background-color: #fff1e6;
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   line-height: 1.5;
   color: #282425;
   margin: 0px;
}

.header {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu,.paticka{background-color: #282425;
    text-align: center;
    color: white;
}

.paticka {
   padding: 20px 0%;
}

.fotogalerie,
.kontakty {
   background-color: #f9e3d0;
}

h1 {
   font-family: 'Playfair Display', serif;
   font-style: italic;
   color: white;
   font-size: 80px;
   text-align: center;
   margin: 0px;
}

h2 {
   font-family: 'Playfair Display', serif;
   font-style: italic;
   color: #756158;
   font-size: 48px;
   text-align: center;
   margin-top: 0px;
}

h3 {
   font-family: 'Playfair Display', serif;
   font-style: italic;
   color: #756158;
   font-size: 24px;
   margin-top: 36px;
}

a {
   font-style: italic;
   color: #756158;
}

section {
   padding: 50px 15%;
}
.fiveinIT {
      color: turquoise;
}


#tym {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 9%;
   padding: 10px;
   width: 100%;

}

.cartoon {
   float: right;
   margin: 0 0 30px 30px;
   border-radius: 9%;
   width: 300px;
   height: 400px;

}

.menu {
   padding: 0;
   margin: 0;
}
.fotogalerie{text-align: center;
}

.fotka{
width: 250px;
  height: 250px;  
  margin: 5px; 
  border-radius: 10px;
  }

h1{font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(15, 1, 1);
    font-size: 80px;
    text-align: center;
    margin: 0px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
 } 

 h2{font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #756158;
    font-size: 48px;
    text-align: center;
    margin-top: 0px;
 }  

 h3{font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #756158;
    font-size: 24px;
    margin-top: 36px;
 }    

 a{    font-style: italic;
    color: #756158;
 } 

 section{padding: 50px 15%;
 } 

 .menu{padding: 0;
    margin: 0;
 } 

 .fotoonas {
    width: 200px;
    border-radius: 50%;
     float: left;
     margin: 0 30px 30px 0;
} 
/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/

.foto-kontakt {
   border-radius: 50px 0 50px 50px;
   float: left;
   margin: 0 30px 30px 0;
   width: 350px;
   border-radius: 50%;
}

.logo {
      border-radius: 50px 0 50px 50px;
      float: right;
       margin: 0 30px 30px 0;
    width: 200px;
    border-radius: 50%;
}
.kontakty h2 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-style: oblique;
   color: #1d3557;
   background-color: #ff8fa3;
}

.kontakty   {
   background-color: #ff8fa3;
}

.kontakty a {
   color: #ff4d6d;
}

.kontakty h3 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #003566;
}

.ikona_mail
{
    width: 20px; 
  height: 20px;
  vertical-align: middle; 
}
.ikona_fb {
  width: 20px; 
  height: 20px;
  vertical-align: middle;   
}